body{
    margin: 0px;
    padding: 0;
  
    background-color: #EEEEEE;
  
}
.menu-nav{
    background-color: #B7D2CE;
}

.text-brand{
    color: #6c757d;
    font-weight:bold;
    margin-left: 5px;
}

.menu-opciones, .titulo-login{
    color: #DA8935;
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    
}

.btn {
    margin-top:15px ;
    margin-bottom:20px ;
    padding: 5px;
    background-color: #9BB3AF;
}

.title-login{
    color: #DA8935;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-top: 15px;   
    
}


.registro, .login {
    background-color: #D6D6D6;
    
}

.container{
    margin-top: 20px;
}


.box-form{
    margin-left: 10px;
    margin-right: 10px;
    
}



  
    
    .footer{
  
        margin-top:20px;
        padding: 10px;
        background-color: #9BB3AF;
       
        max-height: 40px;    
        width: 100%;
    }



.card{
    background-color: #EEEEEE;
    border: solid 1px gray;
}


h3{
    padding:20px;   
}

.input-registro{
    padding-top: 15px;
    
}



.opciones{
   padding: 10px;
}

#servicios{
    margin-top: 60px;
    margin-bottom: 60px;
}



/*abarcar todo el alto restante height 100%*/