body{
    margin: 0px;
    padding: 0;
    background-color: #fff;
    min-height: 100vh;
}

html {
    height: 100%;
}

.menu-nav{
    background-color: #B7D2CE;
}

.text-brand{
    color: #6c757d;
    font-weight:bold;
    margin-left: 5px;
}

.menu-opciones{
    color: #DA8935;
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    
}

.btn {
    margin-top:15px ;
    margin-bottom:20px ;
    padding: 5px;
    background-color: #9BB3AF;
}

.title-login{
    color: #DA8935;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-top: 15px;   
    
}


.registro {
    background-color: #D6D6D6;
    
}

.container{
    margin-top: 20px;
    }


.card{
   
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 5px;

}


h3{
    padding:20px;   
}

.input-registro{
    padding-top: 15px;

}

.opciones{
    padding: 10px;
 }


 .slide img {
    height: 50vh;
 }

.form-registro{
    margin-top: 20px;
    margin-bottom: 20px;
   

}

.nav-vertical{
    margin-top:5px;
}
/*abarcar todo el alto restante height 100%*/